.heading5{
    text-align: center;
font-size: 48px;
font-weight: 600;
line-height: 58px;
color: #0F2B4A;
margin:36px 0px 66px 0px;
}
.images2{
display: flex;
justify-content: center;
align-items: center;
}
.paragraphs1{
font-size: 26px;
font-style: normal;
font-weight: 500;
line-height: 31px;
text-align: center;
margin:60px 0px 22px 0px;
}
.paragraphs2{

font-size: 16px;
font-weight: 400;
line-height: 26px;
text-align: center;
margin:0px 20px 44px 20px;
}